@{
    ViewBag.Title = "Home Page";
}



<div class="row">
  
    <p>Gelieve aan te melden</p>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

  

    @using (Html.BeginForm("Bevestiging", "Home", null, FormMethod.Post, new { @class = "form", role = "form" }))
    {
        <div class="form-group">
            <label class="control-label">Naam</label>
            <input name="naam" type="text" class="form-control valid" data-val="true" data-val-required="Dit veld is verplicht" required="required" />
            <span class="field-validation-valid text-danger" data-valmsg-for="naam" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Postcode</label>
            <input name="postcode" class="form-control valid" type="number" required="required" data-val="true" data-val-range="Gelieve een postcode in te geven tussen 1000 en 9999" data-val-range-max="9999" data-val-range-min="1000"/>
            <span class="field-validation-valid text-danger" data-valmsg-for="postcode"  data-valmsg-replace="true"></span>
        </div>

        <input type="submit" value="Aanmelden" class="btn btn-primary" />
    }
</div>